<footer class="footer pt-lg-5 pt-4 pb-5">
    <div class="container">
        <div class="row gy-md-5 gy-4 mb-md-5 mb-4 pb-lg-2">
            <div class="col-md-8">
                <a class="navbar-brand d-inline-flex align-items-center mb-lg-4 mb-3" href="/">
                    <span class="text-primary flex-shrink-0 me-2">
                        <img src="img/Black logo - no background.svg" class="logoFooter" />
                    </span>
                </a>
                <p class="mb-4 pb-lg-3 fs-xs text-body-secondary" style="max-width: 306px;">
                    I'm a full-stack developer with experience in Blazor, ASP.NET 8, C#, and JavaScript.
                    My journey began with personal projects where I used C# to code video game fundamentals,
                    igniting a deep passion for development. I especially enjoy problem-solving and finding
                    innovative yet intuitive solutions to complex challenges. Constantly seeking to challenge myself
                    both intellectually and creatively, I thrive in environments that push my limits and encourage
                    growth. With a commitment to continuous learning and a drive to innovate, I am dedicated to
                    crafting efficient and elegant solutions in every project I undertake.
                </p>
                <div class="d-flex mt-n3 ms-n3">
                    <a class="btn btn-secondary btn-icon btn-sm btn-linkedin rounded-circle mt-3 ms-3" href="https://www.linkedin.com/in/roman-steeledev/" aria-label="LnkedIn">
                        <i class="ai-linkedin"></i>
                    </a>

                    <a href="https://github.com/Roman-0S" class="btn btn-secondary btn-icon btn-sm btn-github rounded-circle mt-3 ms-3" aria-label="GitHub">
                        <i class="ai-github"></i>
                    </a>

                    <a href="https://rs-developer-portfolio.netlify.app/" class="btn btn-secondary btn-icon btn-sm btn-medium rounded-circle mt-3 ms-3" aria-label="Portfolio">
                        P
                    </a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="row row-cols-1">
                    <div class="col">
                        <ul class="nav flex-column mb-0">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-primary" href="#">RomanSteele2020@gmail.com</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0" href="#">Other Projects:</a>
                            </li>

                            <li>
                                <a href="https://staysynced.up.railway.app/">Address Book</a>
                                &bull;
                                <a href="#">Bug Tracker</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="nav fs-sm mb-0">
            <span class="text-body-secondary">&copy; All rights reserved. Made by</span>
            <a class="nav-link d-inline fw-normal p-0 ms-1" href="https://rs-developer-portfolio.netlify.app/" target="_blank" rel="noopener">Roman Steele</a>
        </p>
        <div class="pt-4 pt-lg-0"></div>
    </div>
</footer>

@code {

}
