




<h3>CommentArea</h3>

<button class="btn btn-primary" @onclick="() => count++">
    Click Me
</button>

<p>Clicked @count times</p>



@code {
    #region parameters



    #endregion


    #region state

    private int count = 0;

    #endregion


    #region methods



    #endregion

}
