@page "/author/posts/create"

@rendermode InteractiveServer

@attribute [Authorize(Roles = "Author")]

@inject IBlogPostDTOService BlogService


<PageTitle>Tech Log | Create a Post</PageTitle>

<div class="container">

    <h3>New Blog Post</h3>

    <div class="card-body">

        <BlogPostForm Post="new BlogPostDTO()" OnSubmit="HandleSubmit" />

    </div>

</div>



@code {

    #region parameters



    #endregion


    #region state



    #endregion


    #region methods

    private async Task HandleSubmit(BlogPostDTO post)
    {
        try
        {
            await BlogService.CreateBlogPostAsync(post);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    #endregion

}
