@using BlazorBlog.Client.Helpers
@if (BlogPost is not null)
{

    <div>

        <article class="position-relative d-flex align-items-center mb-4">

            <img class="rounded" src="@(string.IsNullOrEmpty(BlogPost.ImageURL) ? ImageHelper.DefaultBlogImage : BlogPost.ImageURL)" width="92" alt="Post image">

            <div class="ps-3">

                <h4 class="h6 mb-2">
                    <a class="stretched-link" href="/posts/@BlogPost.Slug">@BlogPost.Title</a>
                </h4>

                <span class="fs-sm text-body-secondary">@BlogPost.Created.ToLocalTime().ToString("g")</span>

            </div>

        </article>

    </div>

}




@code {
    #region parameters

    [Parameter, EditorRequired]
    public BlogPostDTO? BlogPost { get; set; }

    #endregion


    #region state



    #endregion


    #region methods



    #endregion

}
